/* General */
$fontSize: 14px;

/* Menu */
$submenuFontSize: 13px;
$menuBgColorFirst: #4d505b;
$menuBgColorLast: #3b3e47;
$menuitemColor: #ffffff;
$menuitemHoverColor: #0388e5;
$menuitemActiveColor: #0388e5;
$menuitemActiveBgColor: #2e3035;
$menuitemBorderColor:  rgba(52, 56, 65, 0.6);
$menuitemBadgeBgColor: #007be5;
$menuitemBadgeColor: #ffffff;
$backgroundImage: url(../images/logo-white.svg) top left no-repeat;

@import '../sass/_layout';