/* roboto-regular */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Regular'), local('Roboto-Regular'),
         url('../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #edf0f5;
    min-height: 100%;
}

a {
    text-decoration: none;
}

@import "../sass/login";
@import "../sass/exception";