/* lato-regular - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/lato-v14-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('./fonts/lato-v14-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/lato-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/lato-v14-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/lato-v14-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/lato-v14-latin-ext_latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

html {
    height: 100%;
}

body {
    font-family: "Lato", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #edf0f5;
    min-height: 100%;
}

a {
    text-decoration: none;
}

@import "../sass/login";
@import "../sass/exception";