.p-accordion .p-accordion-header .p-accordion-header-link {
    width: 100% !important;
    padding: 9px !important;
    font-size: 16px !important;
    color: var(--bodyColor);
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(218, 218, 218);
    margin-bottom: 2px;
}

.p-progressbar .p-progressbar-value {
  background-color: var(--greenColor) !important;
}

.p-menuitem-active > .p-submenu-list {
  padding: 0 !important;
}

/* В вашем глобальном или локальном CSS-файле */
.p-accordion .p-accordion-header .p-accordion-toggle-icon {
    /* display: none !important;  */
}
/* Возможно, также потребуется скорректировать отступ, если он остается */
.p-accordion .p-accordion-header-link {
    padding-left: 1rem; /* Пример: добавьте padding, если он пропал из-за иконки */
}