.inputContainer {
  .disabledInput {
    background-color: #e6e6e6 !important;
  }
  input {
    width: 80% !important;
  }
  > span {
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .inputContainer {
    .disabledInput {
      background-color: #e6e6e6 !important;
    }
    input {
      width: 100% !important;
    }
    > pan {
      width: 80% !important;
    }
  }
}
