/* Exception */
.exception-body {
    height: 100%;

    .exception-topbar {
        box-sizing: border-box;
        height: 70px;
        background-color: #ffffff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);

        .exception-logo {
            margin-top: 25px;
            margin-left: 145px;
        }
    }
    .exception-container {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 800px;
        margin-left: -380px;
        margin-top: -260px;
        background-color: #ffffff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);

        .top {
            background-image: radial-gradient(circle at 100% 0, #c33764, #1d2671);
            background-image: -ms-radial-gradient(circle at 100% 0, #c33764, #1d2671);
            background-image: -moz-radial-gradient(circle at 100% 0, #c33764, #1d2671);
            background-image: -o-radial-gradient(circle at 100% 0, #c33764, #1d2671);
            background-image: -webkit-radial-gradient(circle at 100% 0, #c33764, #1d2671);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2671', endColorstr='#c33764',GradientType=0 );
            height: 32px;
            width: 100%;
        }

        .left-side {
            padding: 100px 40px 40px 40px;
        }

        .right-side {
            margin-top: 100px;
            padding: 0;

            img {
                float: right;
            }
        }

        .title {
            margin-bottom: 10px;
            font-size: 28px;
            font-weight: bold;
            color: #333333;
        }

        .content {
            font-size: 17px;
            color: #666666;
        }

        .ui-button {
            border-radius: 3px;
            border: 1px solid #2399e5;
            color: #FFFFFF;
            background: #2399e5;
            font-size: 16px;

            .ui-button-text {
                padding: .25em 1em;
            }

            &:hover {
                background: #1f89ce;
            }

            &:focus {
                outline: 0 none;
                background: #186ba0;
            }
        }
    }
}

@media (max-width: 1025px) {
    .exception-body {
        .exception-container {
            width: 100%;
            height: 350px;
            left: 0;
            margin-left: 0;
            margin-top: -150px;

            .right-side {
                display: none;
            }
        }
    }
}