.multiselect-demo {
    .p-multiselect {
		min-width: 15rem;
	}
	.multiselect-custom {
		.p-multiselect-label:not(.p-placeholder) {
			padding-top: .25rem;
			padding-bottom: .25rem;
		}
		.country-item {
			display: flex;
			align-items: center;
			.flag {
				width: 18px;
				height: 12px;
				margin-right: .5rem;
				margin-left: .5rem;
			}
		}
		.country-item-value {
			border-radius: 3px;
			display: inline-flex;
			margin-right: .5rem;
			background-color: #2196F3;
			color: #ffffff;
		}
	}
}