.misc-demo {
    .badges {
        .p-badge, .p-tag {
            margin-right: .5rem;
        }
        .p-tag {
            line-height: 1;
        }
    
    }
    .p-button {
        margin-right: .5rem;
        
    }
    .p-overlay-badge {
        margin-right: 2rem;
    }
}