.overlay-demo {
    p {
        line-height: 1.5;
        margin: 0;
    }
    .product-image {
        width: 50px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
    .confirmation-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}