.product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.orders-subtable {
    padding: 1rem;
}


.datatable-doc-demo .p-paginator .p-paginator-current {
    margin-left: auto;
}

.datatable-doc-demo .p-progressbar {
    height: .5rem;
    background-color: #D8DADC;
}

.datatable-doc-demo .p-progressbar .p-progressbar-value {
    background-color: #607D8B;
}

.datatable-doc-demo .table-header {
    display: flex;
    justify-content: space-between;
}

.datatable-doc-demo .p-datepicker {
    min-width: 25rem;
}

.datatable-doc-demo .p-datepicker td {
    font-weight: 400;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
    padding: 1rem;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
    text-align: left;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    cursor: auto;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

.datatable-doc-demo .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}

@media screen and (max-width: 960px) {
    .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th,
    .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
        display: none !important;
    }

    .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
        border-bottom: 1px solid var(--layer-2);
    }

    .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
        text-align: left;
        display: block;
        border: 0 none !important;
        width: 100% !important;
        float: left;
        clear: left;
        border: 0 none;
    }

    .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        padding: .4rem;
        min-width: 30%;
        display: inline-block;
        margin: -.4rem 1rem -.4rem -.4rem;
        font-weight: bold;
    }

    .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
        margin-top: .5rem;
    }
}
                


.row-expand-demo, .datatable-rowgroup-demo, .datatable-doc-demo {

    
    .customer-badge {
        border-radius: 2px;
        padding: .25em .5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .3px;
    }
    
    .customer-badge.status-qualified {
        background-color: #C8E6C9;
        color: #256029;
    }
    
    .customer-badge.status-unqualified {
        background-color: #FFCDD2;
        color: #C63737;
    }
    
    .customer-badge.status-negotiation {
        background-color: #FEEDAF;
        color: #8A5340;
    }
    
    .customer-badge.status-new {
        background-color: #B3E5FC;
        color: #23547B;
    }
    
    .customer-badge.status-renewal {
        background-color: #ECCFFF;
        color: #694382;
    }
    
    .customer-badge.status-proposal {
        background-color: #FFD8B2;
        color: #805B36;
    }
    
    .product-badge {
        border-radius: 2px;
        padding: .25em .5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .3px;
    }
    
    .product-badge.status-instock {
        background: #C8E6C9;
        color: #256029;
    }
    
    .product-badge.status-outofstock {
        background: #FFCDD2;
        color: #C63737;
    }
    
    .product-badge.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }
    
    .order-badge {
        border-radius: 2px;
        padding: .25em .5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .3px;
    }
    
    .order-badge.order-delivered {
        background: #C8E6C9;
        color: #256029;
    }
    
    .order-badge.order-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }
    
    .order-badge.order-pending {
        background: #FEEDAF;
        color: #8A5340;
    }
    
    .order-badge.order-returned {
        background: #ECCFFF;
        color: #694382;
    }
    
    .image-text {
        vertical-align: middle;
        margin-left: .5rem;
    }
    
    .p-multiselect-representative-option {
        display: inline-block;
        vertical-align: middle;
    }
    
    .p-multiselect-representative-option img {
        vertical-align: middle;
        width: 24px;
    }
    
    .p-multiselect-representative-option span {
        margin-top: .125rem;
    }
    
    .p-column-filter {
        width: 100%;
    }
    
    .country-item {
        display: flex;
        align-items: center;
    }
    
    .country-item img.flag {
        width: 18px;
        margin-right: .5rem;
    }
    
    .flag {
        vertical-align: middle;
    }
    
    span.flag {
        width:44px;
        height:30px;
        display:inline-block;
    }
    
    img.flag {
        width:30px
    }
    
    
    
     
                
}