.inputText {
  width: 250px;
  line-height: 20px;
}
.inputTextDisable {
  width: 250px;
  background-color: #e6e6e6 !important;
}

.inputFileContainer {
  width: 90px;
  height: 36px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #6366f1;
  cursor: pointer;
  input[type='file'] {
    display: none;
  }
}
.deleteBtn {
  width: 80px;
  height: 36px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #6366f1;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .inputText {
    width: 100%;
  }
  .inputTextDisable {
    width: 100%;
    background-color: #e6e6e6 !important;
  }
}
