.inputText {
  width: 250px;
  line-height: 20px;
}
.inputTextDisable {
  width: 250px;
  background-color: #e6e6e6 !important;
}

.inputFileContainer {
  width: 90px;
  height: 36px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #6366f1;
  cursor: pointer;
  input[type='file'] {
    display: none;
  }
}
.deleteBtn {
  width: 80px;
  height: 36px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #6366f1;
  cursor: pointer;
}
.datePickerStyle {
  > div {
    border-radius: 6px;
  }
  input {
    height: 41px;
    width: 203px;
    padding: 10.5px;
    font-size: 1rem;
    color: #495057;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

@media only screen and (max-width: 576px) {
  .inputText {
    width: 100%;
  }
  .inputTextDisable {
    width: 100%;
    background-color: #e6e6e6 !important;
  }
  .datePickerStyle {
    width: 100%;
    > div {
      border-radius: 6px;
    }
    input {
      height: 41px;
      width: calc(100% - 47px);
      padding: 10.5px;
      font-size: 1rem;
      color: #495057;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    }
  }
}
