.inputContainer {
  input {
    width: 80% !important;
  }
  > span {
    width: 80% !important;
  }
  > div {
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .inputContainer {
    input {
      width: 100% !important;
    }
    > span {
      width: 100% !important;
    }
    > div {
      width: 100% !important;
    }
  }
}
