/* Dashboard */
.dashboard {
    
    .summary {
        height: 75px;
        position: relative;
        
        .title {
            font-size: 20px;
        }
        
        .detail {
            color: #a4a4a4;
            display: block;
            margin-top: 10px;
        }
        
        .count {
            color: #ffffff;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            padding: 5px;
            @include border-radius(4px);
            
            &.visitors {
                background-color: #20d077;
            }
            
            &.purchases {
                background-color: #f9c851;
            }
            
            &.revenue {
                background-color: #007be5;
            }
        }
    }
    
    .task-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            padding: 8px 4px;
            border-bottom: 1px solid $dividerColor;
        }
        
        .ui-chkbox {
            vertical-align: middle;
            margin-right: 5px;
        }
        
        .task-name {
            vertical-align: middle;
        }
        
        .ui-button {
            width: 50px;
            float: right;
            padding: .1em;
        }
    }
    
    .highlight-box {
        height: 100px;
        
        .initials {
            float: left;
            width: 50%;
            box-sizing: border-box;
            height: 100%;
            font-size: 54px;
            padding-top: 20px;
            text-align: center;
        }
        
        .card {
            color: #a4a4a4;
            float: left;
            width: 50%;
            box-sizing: border-box; 
            height: 100%; 
            
            .count {
                font-size: 36px;
                display: block;
                margin-top: 15px;
            }
        }
    }
    
    .activity-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
            border-bottom: 1px solid $dividerColor;
            padding: 15px 0 9px 9px;
            
            .count {
                font-size: 24px;
                color: #ffffff;
                background-color: #007be5;
                font-weight: bold;
                width: 60px;
                padding: 5px;
                @include border-radius(2px);
            }
            
            &:first-child {
                border-top: 1px solid #d9d9d9;
            }
            
            &:last-child {
                border: 0;
            }

            .ui-g-6:first-child {
                font-size: 18px;
                padding-left: 0;
            }
            
            .ui-g-6:last-child {
                text-align: right;
                color: #a4a4a4;
            }
        }
    }
    
    .contacts {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
            border-bottom: 1px solid $dividerColor;
            
            a {
                padding: 9px;
                width: 100%;
                box-sizing: border-box;
                text-decoration: none;
                position: relative;
                display: block;
                @include border-radius(2px);
                @include transition(background-color .2s);
                
                .name {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 18px;
                }
                
                .email {
                    position: absolute;
                    right: 10px;
                    top: 30px;
                    font-size: 14px;
                    color: #a4a4a4;
                }
                
                &:hover {
                    cursor: pointer;
                    background-color: #eeeeee;
                }
            }
            
            &:last-child {
                border: 0;
            }
        }
    }
}
