body {
    /*Green Button*/
    .ui-button {
        &.ui-state-default {
            &.green-button {
                background-color: $greenButton;
                border-color: $greenButtonBorder;

                &:enabled:hover {
                    background-color: $greenButtonHover;
                    border-color: $greenButtonBorder;
                }

                &:enabled:active {
                    background-color: $greenButtonActive;
                    border-color: $greenButtonBorder;
                }
            }
        }
    }

    /*Yellow Button*/
    .ui-button {
        &.ui-state-default {
            &.yellow-button {
                background-color: $yellowButton;
                border-color: $yellowButtonBorder;

                &:enabled:hover {
                    background-color: $yellowButtonHover;
                    border-color: $yellowButtonBorder;
                }

                &:enabled:active {
                    background-color: $yellowButtonActive;
                    border-color: $yellowButtonBorder;
                }
            }
        }
    }

    /*Red Button*/
    .ui-button {
        &.ui-state-default {
            &.red-button {
                background-color: $redButton;
                border-color: $redButtonBorder;

                &:enabled:hover {
                    background-color: $redButtonHover;
                    border-color: $redButtonBorder;
                }

                &:enabled:active {
                    background-color: $redButtonActive;
                    border-color: $redButtonBorder;
                }
            }
        }
    }

    /*Aqua Button*/
    .ui-button {
        &.ui-state-default {
            &.aqua-button {
                background-color: $aquaButton;
                border-color: $aquaButtonBorder;

                &:enabled:hover {
                    background-color: $aquaButtonHover;
                    border-color: $aquaButtonBorder;
                }

                &:enabled:active {
                    background-color: $aquaButtonActive;
                    border-color: $aquaButtonBorder;
                }
            }
        }
    }

    /*Navy Button*/
    .ui-button {
        &.ui-state-default {
            &.navy-button {
                background-color: $navyButton;
                border-color: $navyButtonBorder;

                &:enabled:hover {
                    background-color: $navyButtonHover;
                    border-color: $navyButtonBorder;
                }

                &:enabled:active {
                    background-color: $navyButtonActive;
                    border-color: $navyButtonBorder;
                }
            }
        }
    }

    /*Black Button*/
    .ui-button {
        &.ui-state-default {
            &.black-button {
                background-color: $blackButton;
                border-color: $blackButtonBorder;

                &:enabled:hover {
                    background-color: $blackButtonHover;
                    border-color: $blackButtonBorder;
                }

                &:enabled:active {
                    background-color: $blackButtonActive;
                    border-color: $blackButtonBorder;
                }
            }
        }
    }

    /*Grey Button*/
    .ui-button {
        &.ui-state-default {
            &.gray-button {
                background-color: $greyButton;
                border-color: $greyButtonBorder;

                &.ui-button {
                    span.ui-button-text {
                        color: $greyButtonText;
                    }
                }

                &:enabled:hover {
                    background-color: $greyButtonHover;
                    border-color: $greyButtonBorder;
                }

                &:enabled:active {
                    background-color: $greyButtonActive;
                    border-color: $greyButtonBorder;
                }
            }
        }
    }

    .ui-datepicker {
        width: auto;
    }

    .ui-splitbutton.ui-buttonset .ui-menu {
      min-width: 100%;
    }

    .ui-megamenu .ui-megamenu-panel {
        background-color: #f6f7f9;
    }

    .ui-fluid {
        .ui-button-icon-only {
            width: auto;
        }
        .ui-spinner .ui-spinner-button .fa {
            left: inherit;
        }
    }
}
